<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome!</title>
</head>
<body>
    <h2>nodejs로 만든 첫번째 웹 사이트</h2>
    <p>안녕하세요 <%= name %>님!</p>     
    <!-- nodejs에서 불러온것 자바스크립트 문법이다. 소스를 볼때 기본소스에 apple로 표기된다./즉 서버에서 쓴 자바스크립트 코드가 html로 변환되어 날라간다. 서버쪽 코드를 숨길수 있다. 서버사이드렌더링 이라고함 기억하자/ 주석을 사용할때 조심-->
</body>
</html>