<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
</head>
<body>
    <h2>마이 페이지</h2>
    <p>제가 익힌 기술은...</p>
    <ul>
        <% 
            skills.forEach(skill=>{
        %>
            <li><%= skill.name %></li>
        <%    })

        %>
        <!-- 자바스크립트와 HTML을 구분해준다. HTML이 반복이 되기위해선 각각의 문법을 구분한다. -->
    
    </ul>
</body>
</html>