<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body>
    <h2>Not Found😎</h2>
    <p><%= name %>님이 요청하신 페이지를 찾을수 없습니다!</p>
</body>
</html>